.ficha {
    justify-content:start;
    flex-wrap: wrap;
    display: flex;
}
.boxEsquerdo h1{
    font-size: 20px;
    text-align: center;
}
.boxEsquerdo h2{
    font-size: 20px;
    margin-left: 15px;
    
}
.boxEsquerdo {
    border-left: 5px solid #FF4500;
}
